table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
div div {
    height: 100%;
    width: 50%;
}
select {
    width: 100px;
}

/*The main divs separating results and the inputs*/
#results {
    float: left;
    height: 100%;
    width: 70%;

}
#inputs {
    float: right;
    width: 25%;
}

#results_table {
    table-layout:;
    width: 100%;
}

#results_table tr th {
    background-color: #0056b3;
    color: white;
}

#results_table tr td {
    background-color: #1e7e34;
    color: white;
}

.jumbotron {
    border-radius: 0;
    background-image:url("../images/resident-evil.jpg");
    background-size: 100% 200%;
}
.jumbotron h1 {
    color: white;
}

.col-small {
    width:2%;
    text-align: center;
}

.col-medium {
    width:20%;
    text-align: center;
}



/*#input_information {*/
    /*float: left;*/
/*}*/
/*.input {*/
    /*float: left;*/
/*}*/
