header {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
div div {
    height: 100%;
    width: 50%;
}
select {
    width: 100px;
}
/*The main divs separating results and the inputs*/
#results {
    float: left;
    height: 100%;

}
#inputs {
    float: right;
}
/*#input_information {*/
    /*float: left;*/
/*}*/
/*.input {*/
    /*float: left;*/
/*}*/