<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='stylesheets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <title>Mountain Project V2.0</title>
</head>
<div class="jumbotron">
    <h1>Mountain Project V2.0</h1>

</div>
<body>
<div id="climbs_container">
    <div id="results">
        <table id="results_table">
            <tr>
                <th class="col-small">Name</th>
                <th class="col-medium">Description</th>
                <th class="col-medium">Beta</th>
                <th class="col-small">Grade</th>
                <th class="col-small">Rating</th>
                <th class="col-small">Style</th>
                <th class="col-small">Grade Accuracy</th>
            </tr>
            {% for climb in climbs %}
            <tr>
                <td>{{climb.name}}</td>
                <td>{{climb.description}}</td>
                <td>{{climb.beta}}</td>
                <td>{{climb.grade}}</td>
                <td>{{climb.rating}}</td>
                <td>{{climb.style}}</td>
                <td>{{climb.grade_accuracy}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="inputs">
        <form method="post">
            <div class="form-group input">
                <label for="climb_name_input">Name Search</label>
                <input name="climb_name_input" id="climb_name_input" type="text" placeholder="Enter Climb Name">
            </div>
            <div id="input_information">
                <div class="form-group input" name="height_input">
                    <label for="height">Height Input</label>
                    <input type="text" id="height" name="height">
                    <small id="heightHelp" class="form-text text-muted">Please enter your height in centimeters.</small>
                </div>
                <label for="grade_input">Grade Input</label>
                <div class="form-group input" name="grade_input" id="grade_input">
                    <label for="min_grade">Minimum Grade</label>
                    <select name="min_grade" id="min_grade">
                        <option value="1">V1</option>
                        <option value="2">V2</option>
                        <option value="3">V3</option>
                        <option value="4">V4</option>
                        <option value="5">V5</option>
                        <option value="6">V6</option>
                        <option value="7">V7</option>
                        <option value="8">V8</option>
                        <option value="9">V9</option>
                        <option value="10">V10</option>
                        <option value="11">V11</option>
                        <option value="12">V12</option>
                        <option value="13">V13</option>
                    </select>
                    <label for="max_grade">Maximum Grade</label>
                    <select name="max_grade" id="max_grade">
                        <option value="1">V1</option>
                        <option value="2">V2</option>
                        <option value="3">V3</option>
                        <option value="4">V4</option>
                        <option value="5">V5</option>
                        <option value="6">V6</option>
                        <option value="7">V7</option>
                        <option value="8">V8</option>
                        <option value="9">V9</option>
                        <option value="10">V10</option>
                        <option value="11">V11</option>
                        <option value="12">V12</option>
                        <option value="13" selected>V13</option>
                    </select>
                </div>
                <label for="rating_input">Rating input</label>
                <div class="form-group input" name="rating_input" id="rating_input">
                    <label for="min_rating">Minimum Rating</label>
                    <select name="min_rating" id="min_rating">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <label for="max_rating">Maximum Rating</label>
                    <select name="max_rating" id="max_rating">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                    </select>
                </div>
                <div class="input" name="style_input" id="style_input">
                    <label for="style_select">Select Style</label>
                    <select name="style_select" id="style_select">
                        <option value="not applicable">N/A</option>
                        <option value="crimpy">Crimpy</option>
                        <option value="slopey">Slopey</option>
                        <option value="pockety">Pockety</option>
                        <option value="pinchy">Pinchy</option>
                        <option value="juggy">Juggy</option>
                    </select>
                </div>
            </div>
            <button type="submit">Query</button>
        </form>
    </div>
</div>
</body>
</html>
