<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <title>Mountain Project V2.0</title>
</head>
<header>
    Mountain Project V2.0
</header>
<body>
<div id="climbs_container">
    <div id="results">
        <table id="results_table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Grade</th>
                <th>Rating</th>
                <th>Style</th>
                <th>Sandbagged</th>
            </tr>
            {% for climb in climbs %}
            <tr>
                <th>{{climb.name}}</th>
                <th>{{climb.description}}</th>
                <th>{{climb.grade}}</th>
                <th>{{climb.rating}}</th>
                <th>{{climb.style}}</th>
                <th>{{climb.sandbag}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="inputs">
        <form method="post">
            <input type="text" name="climb_name">
            <div id="input_information">
                <div class="input" name="height_input">
                    Height Input
                    <br>
                    <select name="height">
                        <option value="na">N/A</option>
                    </select>
                </div>
                <div class="input" name="grade_input">
                    Grade Input
                    <br><br>
                    Minimum Grade
                    <select name="min_grade">
                        <option value="na">N/A</option>
                        <option value="1">V1</option>
                        <option value="2">V2</option>
                        <option value="3">V3</option>
                        <option value="4">V4</option>
                        <option value="5">V5</option>
                        <option value="6">V6</option>
                        <option value="7">V7</option>
                        <option value="8">V8</option>
                        <option value="9">V9</option>
                        <option value="10">V10</option>
                        <option value="11">V11</option>
                        <option value="12">V12</option>
                        <option value="13">V13</option>
                    </select>
                    <br>
                    Maximum Grade
                    <select name="max_grade">
                        <option value="na">N/A</option>
                        <option value="1">V1</option>
                        <option value="2">V2</option>
                        <option value="3">V3</option>
                        <option value="4">V4</option>
                        <option value="5">V5</option>
                        <option value="6">V6</option>
                        <option value="7">V7</option>
                        <option value="8">V8</option>
                        <option value="9">V9</option>
                        <option value="10">V10</option>
                        <option value="11">V11</option>
                        <option value="12">V12</option>
                        <option value="13">V13</option>
                    </select>
                </div>
                <div class="input" name="rating_input">
                    Rating Input
                    <br><br>
                    Minimum Rating
                    <select name="min_rating">
                        <option value="na">N/A</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <br>
                    Maximum Rating
                    <select name="max_rating">
                        <option value="na">N/A</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="input" name="style_input">
                    Style Input
                    <br>
                    <select name="style_select">
                        <option value="na">N/A</option>
                        <option value="crimpy">Crimpy</option>
                        <option value="slopey">Slopey</option>
                        <option value="pockets">Pockets</option>
                    </select>
                </div>
            </div>
            <button type="submit">Query</button>
        </form>
    </div>
</div>
</body>
</html>